.personGroup {
    background-color: #23201e;
    height: auto;
    color: white;
    justify-content: center;
    p,h1,h3 {
        text-align: center;
    }
    h1 {
        text-transform: uppercase;
    }
    h3 {
        text-transform: capitalize;
        margin-bottom: 100px;
    }
    &--fades{
        display: flex;
    }
    &__avatarGroup {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 140px;
        margin-bottom: 40px;
    }
    
    &__group{
        max-width: rem(680);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

@include breakpoint(xs) {
    .personGroup{
        height: rem(550);
        &__avatarGroup {
            flex-direction: row;
            justify-content: space-around;
            align-items: flex-end;
        }
    }
}