.bred{
    display: inline;
    padding: 0;
    list-style: none;
    padding-top: rem(120);
    &__crumbs{
        display: inline;
        font-size: 33px;
        text-transform: uppercase;
        &--link{
            cursor: pointer;
            // color: red!important;
            &:hover{
                color: #01447e;
                text-decoration: underline;
            }
        }
    }
    &__crumbs+&__crumbs:before{
        padding: 8px;
        content: "/\00a0";
    }
}