@mixin btn($bg: transparent) {
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    border: 2px;
    
    padding: {
        top: $base-padding *10;
        bottom: $base-padding *10;
        left: $base-padding *16;
        right: $base-padding *16;
    }
    // background-color: #fff;
    background: $bg;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    min-width: rem(20);
    min-height: rem(20);
    span{
        margin: {
            top: $base-padding *2;
            bottom: $base-padding *2;
          
        }

    }
}

//default button
.btn {
    @include btn;
}
@each $key,
$val in $colors {
    //filled buttons 
    .btn-#{$key} {
        @include btn($val);
        background-color: $val;
        &:hover {
            background-color: lighten($val, 50);
        }
    }
    //outlined buttons 
    .btn-outlined-#{$key} {
        @include btn();
        border: $base-border-thickness solid $val;
        color: $val;

        &:hover {
            color: invert($val, 100%);
            background-color: $val;
        }
    }
}

@include breakpoint(xs) {
    .btn {
        font-size: 16px;
        font-weight: 600;
        text-transform: uppercase;
        min-width: rem(140);
        min-height: rem(55);
    }
}