@mixin btn($bg: transparent) {
    text-decoration: none;
    display: inline-block;
    text-align: center;
    border-radius: $btn-border-radius;
    border: 2px;
    background: $bg;
    font-size: 11px;
    font-weight: 600;
    text-transform: uppercase;
    min-height: rem(20);
    span{
        margin: {
            top: $base-padding *2;
            bottom: $base-padding *2;
        }
    }
    @include breakpoint(lg){
        min-width: rem(20);
        font-size: 16px;
        font-weight: 600;
        text-transform: uppercase;
        min-width: rem(140);
        min-height: rem(55);
    }
}
//default button
.btn {
    @include btn;
}
@each $key,
$val in $colors {
    //filled buttons 
    .btn-#{$key} {
        @include btn($val);
        border: $base-border-thickness solid $val;
        background-color: $val;
        &:hover {
            background-color: lighten($val, 50);
            border: $base-border-thickness solid lighten($val, 50);
        }
    }
    //outlined buttons 
    .btn-outlined-#{$key} {
        @include btn();
        border: $base-border-thickness solid $val;
        color: $val;
        min-height: rem(18);
        &:hover {
            color: invert($val, 100%);
            background-color: $val;
        }
    }
}

// @include breakpoint(lg) {
//     .btn {
//         // min-width: rem(20);
//         // font-size: 16px;
//         // font-weight: 600;
//         // text-transform: uppercase;
//         // min-width: rem(140);
//         // min-height: rem(55);
//     }
// }