@mixin card($height: auto, $min-width: auto, $js-content: flex-end, $ai: flex-start) {
  // height: $height;
  // min-width: $min-width;
  border-radius: 0;
  border: 0;
  .card{
    &-img {
      height: $height;
      min-width: $min-width;
      border-radius: 0;
    }
    &-img-overlay {
      display: flex;
      align-items: $ai;
      flex-direction: column;
      justify-content: $js-content;
    }
  }
  &__footer {
    height: rem(75);
    border: 1px solid #909090;
    display: flex;
  }
}

//default card
.card {
  @include card;

}

//big card
//first height then width
.card-big {
  border: 0;
  @include card(rem(470), rem(18.5));
}

.card-forside{
  @include card(100%, rem(18.5));
 height: 100%;
}
.card-cut {
  @include card(rem(340), rem(270));
  position: relative;
  display: flex;
  // flex: 1 0 21%;
  &:after {
    content: "";
    left: 0;
    top: 0;
    opacity: 0.2;
    clip-path: polygon(100% 0, 100% 93%, 89% 100%, 0 100%, 0 0);
  }
  &:hover {
    .plus-minus {
      transition: translate 1s;
      margin-top: 3px;
      &--one {
        display: none;
      }
    }
    .card-img-overlay {
      display: flex;
    }
  }
  
  .badge {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-direction: column;
    height: 340px;
    width: 100%;
    // bag do not let me hover over circle
    position: absolute;
    margin-left: 5px;
  }

  .circle {
    background-color: white;
    z-index: 2;
    color: black;
    svg {
      fill: black;
    }

    &:hover {
      background-color: black;
      color: white;
      svg,
      img {
        fill: white;
      }
    }
  } 

  .card-img {
    display: block;
    width: 100%;
    object-fit: fill;
    clip-path: polygon(100% 0, 100% 93%, 89% 100%, 0 100%, 0 0);
  }

  .card-img-overlay {
    display: none;
    justify-content: center;
    align-items: center;
    background: linear-gradient(325deg, transparent 20px, $lightBlack 20px);
  }
}

.card-small {
  @include card(rem(200), rem);

  .card-img-overlay {
    display: none;
    margin-left: 11px;
    margin-right: 11px;
   
  }

  .circle__card {
    opacity: 1;
  }

  &:hover {
    .circle__card {
      opacity: 1;
    }

    .card-img-overlay {
     
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      background-color: rgba(191, 191, 191, 0.5);
    }
  }
}




.card-footer-custom {
  padding-top: 30px;

  h4,
  p {
    line-height: none;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  h4 {
    font-size: 20px;
    font-weight: $fw-title;
  }
  p {
    font-weight: 500;
    color: grey;
  }
  h5{
    text-transform: capitalize;
    font-weight: 600;
  }
  .wowzz{
    display: flex;
    flex-direction: column;
  }
  .wowyy{
    display: flex;
  }

}

@include breakpoint(xs) {
  .card-cut {
   
  }
}

.card-slider{
  @include card(rem(200));
  align-items: center;
  text-align: center;

user-select: none; /* Standard */

  h1{
    margin-top: 30px;
    line-height: 1;
    font-size: 20px;
  }
  h2{
    font-size: 18px;
    line-height: 1;
    margin-bottom: 45px;
    text-transform: uppercase;
  }
  .cite{
    max-width: 370px !important;
    
    font-size: 18px;
  }
}