$diameter: rem(30);
$color: white;
$bg-color: $secondary;
$svgRadius: rem(15);
$hoverColor: black;


@mixin circle($diameter: $diameter,
             $color: $color,
             $bg-color: $secondary,
             $svgRadius: $svgRadius,
             $hoverColor: $hoverColor) 
    {
    display: flex;
    font-size: rem(18);
    align-items: center;
    justify-content: center;
    font-weight: 700;
    color: $color;
    width: $diameter;
    height: $diameter;
    border-radius: rem(50);
    background-color: $bg-color;

    svg,
    img {
        fill: $color;
        height: $svgRadius;
        width: $svgRadius;
    }

    &:hover {
        background-color: lighten($hoverColor, 5);
    }
}


.circle {
    @include circle();
    margin-right: rem(10);
}

.circle__card {
    
    @include circle(rem(60),white ,black, rem(30) , black );
    
}

.circle__top__card {
    @include circle(rem(80),white ,black, rem(30) , black );
    font-size: rem(13);
    text-transform: uppercase;
    p{
       margin-top:auto;
       margin-bottom:  auto;
       margin-right: 50%;
       margin-left: 50%;
       text-align: center;
    }
}

.circle_white {
    @include circle(rem(80), black ,white,rem(80), white );
    margin-left: rem(12);
    margin-right: rem(12);
    z-index: 1;
    opacity: 0.85;
}
.circle_fade{
    @include circle(rem(70), black ,$secondary,rem(70), $secondary );
    margin-left: 20px;
    margin-right: 20px;
    z-index: 1;
    opacity: 0.5;
}

