.circle {
    margin-right: rem(10);
    font-size: rem(18);
    font-weight: 700;
    color: white;
    height: rem(30);
    width: rem(30);
    background-color: $secondary;
    border-radius: rem(50);
    display: flex;
    align-items: center;
    justify-content: center;
    
    svg,
    img {
        fill: white;
        height: rem(15);
        width: rem(15);
    }

    &:hover {
        background-color: lighten(black, 5);
    }
}