
.contact-input {
    min-height: rem(55);
    width: 100%;
    padding: {
        left: rem(20);
        top: rem(10);
        bottom: rem(10);
    }
    
    &::placeholder {
        font-style: italic;
        font-weight: 600;
    }
}

