.description {
  height: auto;
  min-height: rem(640);
  padding: {
    bottom: 180px;
    top: 180px;
  };
  &__paragraph {
    margin-bottom: 0;
  }

}

@include breakpoint(xs) {
  .description {
    &__paragraph {
      margin-bottom: rem(50);
    }
  }
}