@mixin description($padding-top:rem(70), $padding-bot:rem(70), $bgg-color:#ffffff){
  height: auto;
  background-color: $bgg-color;

  padding: {
    top: $padding-top;
    bottom: $padding-bot;
  };
}


.description {
  @include description();
}

.description-ansatte{
  @include description(rem(180), rem(180), #f3f3f3);
  min-height: rem(640);
}
.description-big-white{
  @include description(rem(180), rem(180));
  min-height: rem(640);
}



@include breakpoint(xs) {

}