@mixin from () {

  .presentation{
    padding-top: 60px;
  }
  &__img {
    height: 100%;
    width: 100%;
  }
  
  &__title {
    @include principal-title();
  }
  
  &__group {
    &--title {
      text-transform: uppercase;
      font-size: rem(13);
      font-weight: 700;
    }
    
    &--smallTitle {
      margin-bottom: rem(12);
      font-size: rem(13);
      text-transform: capitalize;
      color: $secondary;
    }
  }
  
}