.ansatteGroup {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 180px;
}

.ansatteDe {
    background-color: #f3f3f3;
    margin: {
        top: 200px;
    }
    height: auto;
}



