.info-contact{
  
    h1{
        font-size: 17px;
        text-transform: uppercase;
    }
}
.wrapper-contact-form{
    margin: {
        top: rem(120);
        bottom: rem(120);
    }
}

.wrapper-contact {

    flex-direction: column;
    text-align: start;
    margin-top: 60px;
    .program >div{
        border-bottom: 1px solid;
    }
    .social{
        display: flex;
        font-weight: 700;
        font-size: 21px;
        align-items: flex-end;
        color: black;
        svg{
            fill: black;
        }
        
        .svg-wrapper:not(:last-child){
            margin-right: 30px;
        }
    }
}
.clas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


// .wrapper-contact-form {
//     display: flex;
//     flex-direction: column;
//     margin: {
//         top: 100px;
//         bottom: 100px;
//     }
//     &__custom-display {
//         display: flex;
        
//         flex-direction: column;
//         .contact-input {
            
//         }
//     }
//     .contact-input {
//         width: 100%;
//         margin-bottom: 30px;
//     }
// }
@include breakpoint (lg){

    .wrapper-contact{

        .program >div{
            border-bottom: 0;
        }
    }
    // .wrapper-contact-form{
       
    //     &__custom-display{
    //         flex-direction: row;
    //         justify-content: space-around;
         
    //         .contact-input{
    //             &:not(:first-child) {
    //                 margin-left: 30px;
    //             }
    //         }
    //     }
    // }
}