.wrapperForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 600px;
    max-width: 720px;
    
    .contact-input{
        margin-bottom: 15px;
    }
    .btn{
      width: 100%;
    }
  
}
