.wrapperForm{
    display: flex;
    flex-direction: column;
    min-height: 600px;
    .contact-input{
        width: auto;
        margin-bottom: 15px;
    }
  
}
.form{
    .program{
        grid-template-columns: 60px auto;
    }

}