.form{
    .price{
        font-size: 15px;
        justify-content: start;
        align-items: flex-start;
        padding-left: 0;
    }
    .btn{
        width: 172px;
    }
}
.produkts{
    margin:{
        bottom: rem(180);
    }
}