html {
  overflow-x: none;
  font-size: 100%;
  overflow-x: hidden;
}

ul{
  list-style-type: none;
}
header {
 
}

body {
  background-color: #ffffff;
  .title {
    @include principal-title();
  }

  .secondary-title {
    @include secondary-title();
  }
}

// section,
// footer, header {
//   padding: {
//     right: 5vw;
//     left: 5vw;
//   }
// }


a {
  text-decoration: none;
}
.map{
  width: 100vw;
}

// @include breakpoint(xs) {

//   section,
//   footer, header {
//     padding: {
//       right: $padding-x-custom;
//       left: $padding-x-custom ;
//     }
//   }

// }