@mixin contact (){
  display: flex;
  flex-direction: column;
  min-height: rem(200);
  background-color: #a39064;
  color: white;
  align-items: center;
  justify-content: start;
  text-align: center;

  p {
    font-size: rem(40);
    margin: {
      bottom: rem(60);
      top: rem(60);
    }
  }
  .btn {
    border: 1px solid white;
    color: white;
    min-width: rem(190);
    font-size: rem(13);
    font-weight: 600;
  }
}

.contact {
 @include contact();
}

@include breakpoint (s) {
 .contact{
  flex-direction: row;
  padding-bottom: 0;
  text-align: start;
  p {
    margin-right: rem(30);
  }
 }
}
@include breakpoint(xl){
 .contact{
  height: rem(200);
 }
}
