.row{
    display: flex;
}

$columns : 12;


@for $i from 1 through $columns{

    .col-#{$i}{
        flex: 0 0 calc(100% / ($columns /$i));
    }
    //in test
    // @each $key, $val in $breakpoints {
    //     .col-#{$key}-#{$i}{
            
    //     }
    // }
}