@mixin header($bgu-color: grey, $link-color: black){
    background-color:  $bgu-color;
    a{
        color: $link-color;
    }
    svg{
      fill: $link-color;
    }
    &__span {
      margin-top: rem(115);
    }
.header{
  @include header;
  }
  
.header-case{
  @include header( #f4f4f4,black )
}