@mixin header($bgu-color: grey, $link-color: black, $height: rem(380)) {
  background-color: $bgu-color;
  min-height: $height;

  a,li {
    color: $link-color;
  }

  svg {
    fill: $link-color;
  }

  &__span {
    margin-top: rem(115);
  }
  .vr {
    color: $link-color;
  }

  .bottomOne {
    display: flex;
    justify-content: space-between;
    margin-top: 5vh;
    text-transform: uppercase;

    &__logo {
      width: rem(200);
    }

    &__huge {
      font-size: 100px;
      color: $link-color;
    }

    &__span {
      color: $link-color !important;
      margin-top: rem(115);
      font-size: 40px;
    }
  }

  .topOne {
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__call {
      top: rem(10);
      margin-right: rem(10);
    }

    &__icon {
      padding: {
        top: rem(10);
        right: rem(16);
        left: rem(16);
      }
    }

    &__last {
      padding: {
        top: rem(10);
        left: rem(16);
      }

    }

    .vr {
      visibility: hidden;
    }

  }
}

.header {
  @include header;
}

.header-small-dark{
  @include header(#f4f4f4, black, rem(380));
}
.header-small-white{
  @include header(#5c5648, #f4f4f4, rem(380));
}
.header-big-dark{
  @include header(#f4f4f4, black, rem(800));
}
.header-big-white{
  @include header(darkgrey, #f4f4f4, rem(800));
}

@include breakpoint(s) {
  .header {
    .topOne {
      flex-direction: row;
      justify-content: end;
      .vr {
        visibility: visible;
        margin: {
          left: rem(30);
          right: rem(30);
        }
      }
    }
  }
}