.nav {
  z-index: 55;
  position: absolute;
  top: 0;
  right: -325px;
  width: 320px;
  background-color: #ffffff;
  border: 2px solid;
  height: 100vh;
  transition: 1s;
  margin-left: 30px;
  svg{
    fill: black;
    &:hover{
      fill: #0a58ca;
    }
  }
  .dropdown-toggle:after{
    display: none;
    }
    .dropdown-menu{
      width: 100%;
    }
  
  &__wrapper {
    margin-top: 20px;
    width: 90%;

    padding: {
      left: 35px;
    }

    ;

    &--img {
      width: 150px;
      margin-top: 20px;
    }
  }

  &__list {
    padding-left: 5px;

  }

  &__link {
    color: black;
    height: 50px;
    font-weight: 600;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    justify-content: start;
    border-bottom: 1px solid darkgray;
  }
  &-active{
    color: #bd9e6c !important;
  }
  

}
